*{
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: sand;
  src: url(Quicksand-Bold.otf);
}
@font-face {
  font-family: kalam;
  src: url(Kalam-Bold.otf);
}
@font-face {
  font-family: chillax;
  src: url(Chillax-Bold.otf);
}
@font-face {
  font-family: supreme;
  src: url(Supreme-Medium.otf);
}
header{
    background: #1c1c1e;
    height: 200px;
  }
  .wrapper{
    width: 100%;
    margin: auto;
   }
   .menu{
     float: right;
     list-style: none;
     margin-top: 50px;
     margin-right: 30px;
      
   }
   .menu li{
     display: inline-block;
   }
   .menu li a{
     color: orange;
     text-decoration: none;
     padding: 10px 20px;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 20px;
     font-family: supreme;
   }
   .menu li a:hover{
     color: white;
   }
   .logo{
     float: left;
     font-size: 40px;
     margin-top: 25px;
     margin-left: 15px;
     font-weight: bold;
     font-family: chillax;
       
   }
   .logo a{
       text-decoration: none;
       color: orange;
   }
   .logo a span {
       color: white;
     }
     @media (max-width: 768px){
      .logo{
        float: none;
        font-size: 28px;
        text-align: center;
        margin: auto;
        margin-bottom: 5px;
    
    
      }
      .menu{
        float: none;
        margin-top: 0;
        text-align: center;
      }
      .menu li a{
        padding: 5px;
        font-size: 11px;
        font-weight: bold;
        
      }
    }
   .fight{
    padding-top: 100px;
    background: whitesmoke;
  }
  .fight .head{
    text-align: center;
    padding-top: 40px;
    color: black;
    font-weight: bold;
  }
  .fight .fight-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,auto));
    gap: 1rem;
    margin-top:2rem ;
    background: whitesmoke;
  }
  .box{
    padding:30px;
    border-radius: 1rem;
    background: whitesmoke;
  }
  
  .box-image{
    width:100%;
    height:250px;
  }
  .box-image img{
    width:100%;
    height:100%;
    border-radius:1 rem ;
    object-fit:cover;
    object-position: center;
    border-radius: 1rem;
  }
  .box p{
    padding-top: 20px;
    font-family: sand;
  }
  .box h2{
    padding-top: 20px;
  }
  .btn{
    display: flex;
    align-items: center;
    padding-top: 10px;
  
  }
  .btn a{
    padding: 10px 34px;
    border:none;
    border-radius:0.5rem;
    background: orange;
    color:white;
    font-size: 2 rem;
    font-weight: 500; 
    text-decoration: none;
    transition: transform 0.5s;
  }
  .btn a:hover {
    transform: scale(1.1); 
  }
  .footer{
    margin-top: 200px;
    background: gainsboro;
    border-radius: 1rem;
  }
  .footer .row{
   display: flex;
   flex-wrap: wrap;
   padding-left: 100px;
  }
  .column{
    padding-top: 50px;
  }
  .column ul{
    display: inline;
  }
  .column ul li{
    padding-left: 0%;
    transition: transform 0.3s ease-in-out;
  }
  .column ul li:hover{
    transform: translateX(10px);
  }
  .social-links{
    padding: 50px 10px;
    transition: transform 0.3s ease-in-out;
  }
  .social-links a{
    padding-left: 20px;
    font-size: x-large;
    color: orange;
    
  }
  .social-links a:hover{
    color: whitesmoke;
    transform: translateX(10px);
  }
   /*animation*/
   .animation{
    padding-top: 170px;
  }
  .animation .quote-container7 {
    position: relative;
  }
  
  .quote-container7 .quote7{
    font-size: 24px;
    font-style: italic;
    font-family: kalam;
    position: relative;
    padding-left: 500px;
    z-index: 1;
    padding-left: 100px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out,
     transform 0.5s ease-in-out;
  }
  
  .visible .quote7{
    opacity: 1;
    transform: translateY(0);
  }
  .quote7::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f8b500;
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }
  
  .visible .quote7::before {
    width: 100%;
  }
